#title{
  background-color: #ff4c68;
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Ubuntu', sans-serif;*/
}

.meetDog{
  font-family: "Ubuntu", sans-serif;
  font-size: 3rem;
  line-height: 1.5;
}

.myNavbar{
    margin-left: 55%;
}

.centerDiv{
  text-align: center;
}

.top-space{
  margin-top: 200px;
}

.tindog-hue{
  background-color: #ff4c68;
}


.container-fluid{
  padding: 3% 15%;
}
