#title{
  background-color: #ff4c68;
  /*font-family: 'Montserrat', sans-serif;*/
  /*font-family: 'Ubuntu', sans-serif;*/
}

#features{

}

.rotateimg30 {
  -webkit-transform:rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg);
}

.meetDog{
  color: white;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1.5;
}

.link-pad{
  padding: 0 7%
}

.ml-auto-1{
  margin-left: 60%;
}

.myNavbar{
    margin-left: 55%;
}

.centerDiv{
  text-align: center;
}

.top-space{
  margin-top: 100px;
}

.bottom-space-50{
  margin-bottom: 50px;
}

.tindog-hue{
  background-color: #ff4c68;
}

.btn-outline-light:hover{
  color:#ff4c68;
}

.container-fluid{
  padding: 3% 15%;
}
